<% layout("/layouts/boilerplate.ejs") %>
<body>
    

    
    <div class="card login-card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Login Account</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Username    </h6>
            <p class="card-text">First create a account before add task and create task </p>
            <a href="/create" class="card-link create-acount">Create Acount</a>
            <a href="#" class="card-link create-acount">Sing Up</a>
            <a href="#" class="card-link create-acount">sing in</a>
        </div>
    </div>
</body>
